html {
  

 h1 {
  margin:0;
  padding:20px 0;
  text-shadow:3px 3px 1px black  
  }
img{
  display:block;
  margin:o auto;
 }
p{font-size: 12px;
 line height:2;
 letter spacing:1px;
 tex-align:center
 }
}